{% extends 'porfolio/base.html' %}


{% block 'content'%}
    {%  load static  %}
    <div class="main-look">
 <div class="background">
  
 
    <h1 class="text-center">Thomas's and Lens page</h1>

    <br>
    <br>

   <center>
    <img width="1000" src="{%  static 'porfolio/download (1).jfif'  %}" alt="pic of zues his ballsss...">

  </center>

  <div class="about">
    <center>
    <h1>about programming and who to we use it.</h1>
    <p>
      Programming is a set of instructions that make computers work. 
      It's a very complex and interesting field that is rapidly expanding 
      in terms of field of study and employment opportunities.
       People who can program are in high demand these days since almost all modern electronics are programmed.
        Learning to program is a difficult but rewarding process.
      Programming is a very useful skill for people in every field.
       It's especially helpful for people who work with computers and 
       create software for them. Even if you don't plan on working in 
       the computer field, it's still a great skill to have. Most modern 
       vehicles, home appliances, and even mobile phones are controlled by 
       software that has been programmed by programmers. Anyone who works with 
       computers should learn how to program!
      
     
      
      </p>
    </center>
  </div>

 {%  endblock %}